:root {
  --clr-primary-green: hsl(157,74,62);
  --clr-dark-gray: hsl(225,26,23);
  --clr-black: hsl(224,35,11);
  --clr-white: hsl(0,0,100);
  --clr-gray: hsl(225,21,45);
  --clr-light-gray: hsl(225,40,83);
}
