:root {
  --ff-primary: 'Chivo', sans-serif;
  --fs-title: 1.7rem;
  --fs-body: 1rem;

  --clr-green: hsl(157,74%,62%);
  --clr-dark-gray: hsl(225,26%,23%);
  --clr-black: hsl(224,35%,11%);
  --clr-white: hsl(0,0%,100%);
  --clr-gray: hsl(225,21%,45%);
  --clr-light-gray: hsl(225,40%,83%);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.903)), url('../assets/mobile/image-host.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: var(--ff-primary);
}

.container {
  max-width: 1275px;
  width: 90%;
  margin: 0 auto;

}

.logo {
  margin: auto;
  display: flex;
  max-width: 100%;
  padding: 3.125rem;
}

h1 {
    font-size: var(--fs-title);
    color: var(--clr-white);
    padding: 1.25em 0.625em;
    text-transform: uppercase;
}

.highlight {
  color: var(--clr-green);
}

.blurb {
  font-size: var(--fs-body);
  color: var(--clr-white);
  padding: 1.8756em 0.625em;
  color: var(--clr-light-gray);
}

.providers {
  display: flex;
  margin: 0 auto;
  padding: 1.8756em 1.25em;
}

.providers li {
  margin: 0 1.25em;
}

.email_address {
  padding: 10px 20px;
  background-color: var(--clr-dark-gray);
  color: var(--clr-light-gray);
  border-radius: 20px;
  border: none;
  width: 100%;
  font-size: var(--fs-body);
  margin-top: 20px;
}

.submit {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--clr-green);
  color: var(--clr-black);
  border-radius: 20px;
  border: none;
  width: 100%;
  font-size: var(--fs-body);
}

.dots-container {
  display: none;
}

span.error_message {
  display: none;
  position: relative;
  top: 10px;
  color: red;
}

span.showError {
  display: block;
}

/* Tablet view */

@media (min-width: 48em) {

.logo-container {
  margin-top: 2.5rem;
  margin-bottom: 7.7rem;
}
  
.logo {
  padding: 0;
  margin-left: 35px;
}

span.error_message {
  top: 100;
  position: absolute;
  margin-top: 34rem;
  margin-left: 2rem;
  padding: 5px;
}

body {

  background-color: var(--clr-black);
  background-image: url('../assets/tablet/image-host.jpg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 54%;
  overflow-y: hidden;
}

.container {
  padding: 0 2rem;
  z-index: 99;
}

.info-box {
  background-color: var(--clr-black);
  width: 90%;
  padding: 10px 0;
}

h1 {
  text-align: left;
  font-size: 2rem;
}

.blurb {
  text-align: left;
  width: 70%;
  font-size: 0.875rem;
}

.inner-box {
  display: flex;
  flex-direction: column-reverse;
}

.box {
  display: flex;
  flex-direction: column-reverse;
}

.cta {
  width: 100%;
  display: flex;
  padding-bottom: 10px;
}

.email_address {
  width: 55%;
  position: relative;
  resize: none;
}

.submit {
  width: 17%;
  height: 2%;
  position: absolute;
  margin-top: 24px;
  margin-left: 213px;
  padding: 18px;
  font-size: 12px;
  text-align: center;
  line-height: 3px;
  font-weight: bold;
  position: fixed;
}


.providers {
  padding: 30px 0px;
}

.providers li {
  margin-right: 20px;
}

.dots-container {  
  display: flex;
  margin-top: 3em;
}

}

/* Laptop view */

@media (min-width: 64em) { 

  body {
    background-color: var(--clr-black);
    background-image: url('../assets/desktop/image-host.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 73%;
    overflow-y: hidden;
  }

  .logo-container {
    position: absolute;
    margin-top: 7rem;
  }

  .email_address {
    width: 68%;
  }

  .submit {
    width: 17%;
    height: 2%;
    position: absolute;
    margin-top: 24px;
    margin-left: 240px;
    padding: 18px;
    font-size: 12px;
    text-align: center;
    line-height: 3px;
    font-weight: bold;
    position: fixed;
  }

  .info-box {
    position: absolute;
    margin-top: 19rem;
    width: 60%;
  }

  .dots-container {
    float: right;
    margin-top: 78%;
    position: relative;
    top: -60px;
  }
}

/* Largest screen sizes */

@media (min-width: 90em) {

  body {
    background-size: 62%;
  }
  
  .cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .dots-container {
    margin-top: 55%;
    position: absolute;
    margin-left: 70%;
  }

  .info-box {
    position: absolute;
    margin-top: 26%;
    margin-left: -6%;
    width: 60%;
  }
}