:root {
  --ff-primary: 'Chivo', sans-serif;
  --fs-title: 1.7rem;
  --fs-body: 1rem;

  --clr-green: hsl(157,74%,62%);
  --clr-dark-gray: hsl(225,26%,23%);
  --clr-black: hsl(224,35%,11%);
  --clr-white: hsl(0,0%,100%);
  --clr-gray: hsl(225,21%,45%);
  --clr-light-gray: hsl(225,40%,83%);
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.903)), url('../assets/mobile/image-host.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-family: var(--ff-primary);
}

.container {
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;

}

.logo {
  margin: auto;
  display: flex;
  max-width: 100%;
  padding: 50px
}

h1 {
    font-size: var(--fs-title);
    color: var(--clr-white);
    padding: 20px 10px;
    text-transform: uppercase;
}

.highlight {
  color: var(--clr-green);
}

.blurb {
  font-size: var(--fs-body);
  color: var(--clr-white);
  padding: 30px 10px;
  color: var(--clr-light-gray);
}

.providers {
  display: flex;
  margin: 0 auto;
  padding: 30px 20px;
}

.providers li {
  margin: 0 10px;
}

.email_address {
  padding: 10px 20px;
  background-color: var(--clr-dark-gray);
  color: var(--clr-light-gray);
  border-radius: 20px;
  border: none;
  width: 100%;
  font-size: var(--fs-body);
  margin-top: 20px;
}

.submit {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: var(--clr-green);
  color: var(--clr-black);
  border-radius: 20px;
  border: none;
  width: 100%;
  font-size: var(--fs-body);
}

.dots {
  display: none;
}

/* Tablet view */

@media (min-width: 48em) {
  
.logo {
  margin: 0;
}

.body {
  background-image: none;
  background-color: var(--clr-black);
}

h1 {
  text-align: left;
  font-size: 2.5rem;
}

.blurb {
  text-align: left;
  width: 56%;
}

.box {
  display: flex;
  flex-direction: column-reverse;
}

.cta {
  width: 100%;
  display: flex;
}

.email_address {
  width: 70%;
  position: relative;
}

.submit {
  width: 30%;
  position: absolute;
  margin-left: 284px;
}

.providers {
  margin-top: 3rem;
}

.providers li {
  margin-right: 50px;
}

.dots {  
  display: flex;
  margin-top: 4rem;
}

}